.cities-card{
    margin:10px;
    width:400px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom:10px;
    border-radius:8px;
    box-shadow: 7px 8px 13px -4px rgba(0,0,0,0.47);
    -webkit-box-shadow: 7px 8px 13px -4px rgba(0,0,0,0.47);
    -moz-box-shadow: 7px 8px 13px -4px rgba(0,0,0,0.47);
   
    color: var(--white);
    position: relative;
}







.cities-card::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(74, 70, 70, 0.5); 
    border-radius: 8px;
    z-index:-1;
}

.cities-card :nth-child(1){
    font-size: 40px;


}

.cities-card :nth-child(2){
    font-size: 20px;
}

@media screen and (max-width: 768px) {
    .cities-card{
       width: 30vh; 
    }
    .cities-card :nth-child(1){
        font-size: 34px;
    
    
    }
  }
  
  @media screen and (max-width: 428px){
    .cities-card{
        height: 20vh;
        width: 35vh;
    }

    .cities-card :nth-child(1){
        font-size: 28px;
    
    
    }
    .cities-card :nth-child(2){
        font-size: 16px;
    
    
    }
  }