.header-container {
    color:var(--white);
    height:var(--header-height);
    background-color: var(--black);
    /*position:fixed;*/
    width:100%;
    top:0;
    padding:0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    animation: header-load 300ms ease-in;
 }
 .header-light{
   background-color: var(--blueLight);
 }
 .logo{
    color: var(--white);
    font-size: 2rem;
    font-weight:bold;
 }
 .header-buttons-container{
    display: flex;
    align-items: center;
    
 }
 
.theme-buttons{
    background-color: var(--white);
    border-radius:20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border:solid 1px var(--grey);
}
.theme-icon{
    font-size: 24px;
    border-radius:50%;
    cursor:pointer;  
    padding:5px;
    color: black;
}
.theme-icon-active{
    background-color: var(--grey);
    padding:0;
    color: yellow;
}


.navbar{
    display: flex;
}

.navbar a{
    text-decoration: none;
    color: var(--white);
    align-self: center;
    
}

.navbar a:hover, .navbar p:hover{
    background-color: #ffffff44;
    
}


.nav{
    color: var(--white);
    font-size: 16px;
    position: relative;
    display: flex;
    margin: 5px;
    
    
}

.heart-icon, .mail-icon{
    width: 18px;
    height: 18px;
    margin: 5px 0 0 9px;
    
}

.modal-contact-container h3{
    margin-right: -6em;
    font-weight: 300;
}


#select{
    font-size: 20px;
    padding: 15px;
    border-radius: 10px;
    border: 2px solid var(--lightGrey);
    margin-bottom: 30px;
}

.menu-container{
    display: none;
}

@keyframes header-load{
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(0);
    }
}

@media screen and (max-width: 768px){

    
}


@media screen and (max-width: 428px){
    .menu-container{
        display: block;
    }

    .modal-header-contact{
        text-align: justify;
    }
    
    .navbar {
        display: none;
    }

    .hamburger-menu-open{
        display: block;
        position: absolute;
        
        height: 20vh;
        width: 200px;
        top: 9px;
        right: 5px;
        z-index: 2;
    }
    .hamburger-menu-open h4{
        position: absolute;
        top: 0px;
        right: 0;
        
    }

    .hamburger-menu{
        position: absolute;
        top: 9px;
        right: 5px;
    }

    .nav-hamburger{
        text-align: right;
        margin-top: 70px;
        background-color: var(--blueLight);
        padding: 10px;
        font-size: 20px;

    }
    .nav-hamburger a{
        text-decoration: none;
        color: var(--white);
    }

    .theme-buttons{
        margin-left: 90px;
    }

    
}
