.propertydetail-container{
    display: flex;
    flex-direction: column;
    justify-items: center;
    margin: 50px 40px;
    margin-left: 50px;
}

.propertydetail-container a{    
    font-size: 20px;
    color: var(--black);
    margin-left: 10px;

}

.arrow-icon{
    width: 15px;
    height: 15px;
    color: var(--bluePurple);
}


.property-info-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
}



.property-image{
    display: flex;
    flex-direction: column;
    width: 50%;
}


.property-slider img{
    width: 25%;
    
    height: 180px;
    padding: 10px;
    border-radius: 30px;
}

.head-image{
    width: 100%;
    min-width: 25%;
    padding: 10px;
    border-radius: 30px;
}

.property-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 52vh;
    
}

.property-detail{
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 90%;
    border: 1px solid var(--lightGrey);
    border-radius: 20px;
}

.property-detail h2{
    width: 80%;
    font-size: 40px;
    font-weight: 400;
    text-align: center;
    border-bottom: 1px solid var(--lightGrey);
    padding: 50px 0;
    margin: auto;
    
    
}

.property-detail table{
    width: 100%;
    height: 90%;
    margin: auto;
    
}

.table-header, .table-data{
    height: 20px;
}



.property-detail th{
    width: 30%;
    font-size: 18px;
    text-align: center;
    
}

.property-detail td{
    width: 30%;
    color: var(--bluePurple);
    font-size: 30px;
    font-weight: 600;
    text-align: center;
}

.button-container{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-top: 10px;
    

}

.button-container button{
    width: 48%;
    padding: 10px;
    border-radius: 10px;
    border: none;
    font-size: 20px;
}

.btn-icon{
    
}

.button-container :nth-child(1){
    background-color: var(--grey);
    color: var(--white);
}

.button-container :nth-child(2){
    background-color: var(--bluePurple);
    color: var(--white);
}

.description-container{
    margin-top: 50px;
    display: flex;
}


.description-detail{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 30vh;
    padding-right: 50px;
}

.description-detail h3, .description-bedroom h3, .feature-container h4{
    font-size: 36px;
    font-weight: 400;
    margin-bottom: 20px;
}

.description-detail p{
    font-size: 20px;
    line-height: 2rem;
}

.border-bedroom{
    border-radius: 20px;
    border: solid 1px var(--lightGrey);
}

.bedroom{
    display: flex;
    justify-content: space-between;
    padding: 30px;
    font-size: 24px;
    font-weight: 400;
    border-bottom: solid 1px var(--lightGrey);
    
    
}




.description-bedroom{
    margin: 0 40px;
    width: 50%;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
}

.feature-container{
    width: 100%;
    margin-bottom: 50px;
    margin-top: 80px;
}

.feature-container p{
    margin: 40px 0px;
    list-style-type: none;
    font-size: 20px;
}

.check-icon{
    color: var(--bluePurple);
}


.modal-header-container{
    display: flex; 
    align-items: center;
    justify-content: space-between;


}

.modal-header-container h2{
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 30px;
}

.modal-header-container h3{
    font-size: 24px;
    font-weight: 400;
    width: 80%;
}

.add-home-icon{
    width: 70px;
    height: 80px;
    position: relative;
    align-self: first baseline;
    color: var(--bluePurple);
}

.modal-info{
    display: flex;
    justify-content: space-between;
}

.modal-form, .modal-message{
    width: 48%;
    padding: 20px 20px 20px 0;
    
}

.modal-message{
    padding-right: 0px;
}


form{
    display: flex;
    flex-direction: column;
    width: 100%;
}

label{
    font-size: 24px;
    margin-bottom: 10px;
}

input, textarea{
    font-size: 20px;
    padding: 15px;
    border-radius: 10px;
    border: 2px solid var(--lightGrey);
    margin-bottom: 30px;
}

.modal-message button{
    background-color: var(--bluePurple);
    color: var(--white);
    padding: 15px;
    border: none;
    border-radius: 8px;
    font-size: 20px;
    align-self: center;
    width: 100%;
}

textarea{
    margin-bottom: 48px;
}