.citydetail-container{
    color: var(--black);
    min-height: 100vh;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    content-visibility: auto;
    
    
}

.banner{
    background-image: url("../../assets/cover-img.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 40vh;
    position: relative;
    z-index: 0;
    width: 100%;

}

.banner::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(29, 28, 28, 0.5); 
    z-index:-1;
}

.citydetail-banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    
}

.banner-logo{
    color: var(--white);
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    text-align: center;
}

.banner-logo h1{
    font-size: 64px;
}

.banner-logo p{
    font-size: 24px;
}

.banner-filter{
    width: 80%;
    background-color: var(--white);
    padding: 20px 50px;
    bottom: -30px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;
    border: none;
    box-shadow: 5px 8px 5px -5px rgba(0,0,0,0.47);

}

.search-table{
    width: 100%;
}

.banner-filter-header th{
    text-align: left;
    width: 25%;
    font-size: 24px;
    font-weight: 500; 
}

.banner-filter-item select{
    width: 95%;
    font-size: 20px;
    font-weight: 300;
    color: var(--grey);
    padding: 5px;
    
    border-radius: 10px;
    border: 1px solid var(--lightGrey);

}





.property-card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
 }

 .property-container{
    margin-top: var(--header-height);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    animation: card-load 600ms ease-in 800ms;
    animation-fill-mode: forwards;
    opacity: 0;
 }

 .banner-city{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 88%;
    min-height: 30vh;
    background-color: var(--whiteBlue);
    border-radius: 8px;

 }

.city-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 40vh;
    row-gap: 50px;
    
    margin: 0px 0px 20px 50px;
    animation: leftbanner-load 500ms ease 800ms;
    animation-fill-mode: forwards;
    opacity: 0;
}

.city-info h3{
    font-size: 36px;
    font-weight: 500;
}

.city-info p{
    font-size: 20px;
    font-weight: 400;
}

.student-banner{
    width: 50%;
    animation: rightbanner-load 500ms ease 800ms;
    animation-fill-mode: forwards;
    opacity: 0;
}
 
.student-banner img{
    position: relative;
    width: 560px;
    height: 400px;
    right: -30px;
}

@media screen and (max-width: 768px){
    .banner-logo{
        width: 80%;
    }
    .banner-logo h1{
        font-size: 40px;
    }
    .banner-logo p{
        font-size: 20px;
    }

    .banner-filter{
        width: 95%;
        padding: 10px;
    }

    .search-table{
        width: 100%;
        padding: 0;
    }

    .banner-filter-header th{
        font-size: 20px;
        text-align: start;
    }


    .banner-city{
        flex-direction: column;
        
    }

    .city-info{
        width: 80%;
        align-items: center;
        margin: auto;
    }

    .student-banner{
        width: 100%;
        margin: auto;
    }

    .student-banner img{
        width: 85%;
        margin-left: 18px;
        margin-bottom: 30px;
    }
 }

 @media screen and (max-width: 428px){
    .banner{
        height: 40vh;
        margin-bottom: 70px;
    }
    .banner-logo{
        width: 80%;
        margin-top: -130px;
    }
    .banner-logo h1{
        font-size: 30px;
    }
    .banner-logo p{
        font-size: 16px;
    }

    .banner-filter{
        width: 85%;
        padding-right: 0px;
        bottom: -100px;
    }

    .banner-filter-header th{
        display: none;
    }
    .banner-filter-item {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .banner-city{
        margin-top: 100px;
    }

    .city-info{
        height: 100%;
        margin-top: 30px;
        margin-bottom: 20px;
    }

    .city-info h3{
        font-size: 30px;
    }

    .city-info p{
        font-size: 16px;
    }

    .student-banner img{
        margin: auto;
        height: 80%;
        margin-bottom: 20px;
    }
 }