.citydetail-container{
    color: var(--black);
    min-height: 100vh;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    
    
}

.banner{
    background-image: url("../../assets/cover-img.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 60vh;
    position: relative;
    z-index: 0;
    width: 100%;

}

.banner::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(29, 28, 28, 0.5); 
    z-index:-1;
}

.citydetail-banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    
}

.banner-logo{
    color: var(--white);
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    text-align: center;
}

.banner-logo h1{
    font-size: 64px;
}

.banner-logo p{
    font-size: 24px;
}

.banner-search{
    width: 80%;
    background-color: var(--white);
    padding: 20px 50px;
    bottom: -30px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;
    border: none;
    box-shadow: 5px 8px 5px -5px rgba(0,0,0,0.47);

}

.search-bar{
    width: 60%;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid var(--lightGrey);
}

.banner-search button{
    background-color: var(--bluePurple);
    width: 30%;
    font-size: 20px;
    color: var(--white);
    padding: 8px 3px; 
    border: none;
    border-radius: 10px;

}

.property-card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
 }

 .property-container{
    margin-top: var(--header-height);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
 }

 .banner-city{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 88%;
    min-height: 30vh;
    background-color: var(--whiteBlue);
    border-radius: 8px;

 }

.city-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 40vh;
    row-gap: 50px;
    
    margin: 0px 0px 20px 50px;
}

.city-info h3{
    font-size: 36px;
    font-weight: 500;
}

.city-info p{
    font-size: 20px;
    font-weight: 400;
}

.student-banner{
    width: 50%;
}
 
.student-banner img{
    position: relative;
    width: 560px;
    height: 400px;
    right: -30px;
}
