.footer-container{
    height: 60px;
    background-color: var(--black);
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    font-size: 14px;
    animation: footer-load 500ms ease-in;
    animation-fill-mode: forwards;
    opacity: 0;
}

.left-footer-container{
    display: flex;
    gap: 20px;
    animation: leftbanner-load 500ms ease 500ms;
    animation-fill-mode: forwards;
    opacity: 0;
}

.right-footer-container{
    display: flex;
    gap: 20px;
    animation: rightbanner-load 500ms ease 500ms;
    animation-fill-mode: forwards;
    opacity: 0;
}

.copy-container{
    display: flex;
}

.c-icon{
    margin-top: 0px;
    height: 16px;
    width: 16px;
}

@keyframes footer-load{
    0%{
        transform: translateY(100%);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}

@media screen and (max-width: 768px){
    .footer-container{
        height: 100px;
        
    }
    .left-footer-container{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .right-footer-container{
        display: flex;
        margin-bottom: 20px;
        align-self: last baseline;
        
    }
}