.footer-container{
    height: 60px;
    background-color: var(--black);
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    font-size: 14px;
}

.left-footer-container{
    display: flex;
    gap: 20px;
}

.right-footer-container{
    display: flex;
    gap: 20px;
}

.copy-container{
    display: flex;
}

.c-icon{
    margin-top: 0px;
    height: 16px;
    width: 16px;
}

@media screen and (max-width: 768px){
    .footer-container{
        height: 100px;
        
    }
    .left-footer-container{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .right-footer-container{
        display: flex;
        margin-bottom: 20px;
        align-self: last baseline;
        
    }
}